.menu_list, h1, h2, h3,h6, .text_left, .btn-success, .news, .news_more, .mail_block, .contr_img, .contributors_more, .company_img, .btn-danger,
.gallery_links, .gallery_title {
  font-family: 'BPGDejaVuSansCaps-Book';
}

.news_block, .about_center_content .about_bottom_content, .contributors_text, .contr_text, .popup_content, .inner_news_text {
font-family: 'BPG2017DejaVuSans';
}

h1 {
  padding: 120px 0 70px;
  color: #fff;
  font-size: 30px;
}
 h6 {
  line-height: 10px;
  color: #2d2c2a;
  font-size: 12px;
  font-weight: bold;
}

header {
	background-color: #181818;
	height: 70px;
	line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.menu_list li {
	display: inline;
	padding: 0 15px;
  font-size: 12px;
}

.menu_list li a {
	color:#fff;
}
.menu_list  .active a {
  color: #c52c2c;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.menu_list li a:hover {
	color: #c52c2c;
	text-decoration: none;
  transition: all 0.5s ease-in;
}

.toggle {
	display: none;
}

.menu_list img {
  background-color: #ff3333;
  padding: 3px;
  border-radius: 50%;
}

/*search box style*/
.search-box {
  position: absolute;
  top: 27px;
  right: 77px;
  background-color: #2f3640;
  height: 17px;
  border-radius: 50px;
  z-index: 1000;
}

.search-btn {
  position: absolute;
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #ff3333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt {
  border:none;
  position: absolute;
  right: 0;
  background-color: #2f3640;
  height: 30px;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 12px;
  transition: 0.4s;
  line-height: 40px;
  display: none;
  width: 150px;
  padding: 0 10px;
  margin-right: -20px;
  margin-top: -5px;
}
/*end search box style*/


.lang_href {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 12px;
}

.lang_href:hover {
  text-decoration: none;
  color: #ff3333;
}
/*end change language style*/
/*-------------------------------end header style-------------------------*/
#main_banner {
  padding: 0;
  position: relative;
}

#main_banner .main_banner {
  width: 100%;
  padding: 0;
}

#main_banner .main_banner_text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 11% auto;
}

#main_banner .main_banner_text h1 {
  font-size: 30px;
}

#main_banner .main_banner_text .text_left {
  color: #fff;
}

#main_banner .main_banner_text .text_left a {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  width: 120px;
}
.text_left i {
  font-size: 16px;
  padding-left: 10px;
}
#main_banner .main_banner_text .text_left span a:hover {
  color:red;
  text-decoration: none;
}

#main_banner .main_banner_text .text_right {
  position: absolute;
  right: 0;
}
#main_banner .main_banner_text .text_right h2 {
  color: #fff;
  font-size: 20px;
}

#main_banner .main_banner_text .text_right i {
  font-size: 16px;
  padding-left: 10px;
}
.right {
  background: #9496968a;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.right .btn-success {
  width: 100%;
  background-color: #ff3333;
  border-color: #ca2f2f;
}

.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgb(212, 68, 68, 0.5);
}

.btn-success:hover {
  color: #333;
}
/*end banner section*/

#main {
  padding-top: 60px;
  padding-bottom: 60px;
}

#main .news {
  padding-bottom: 40px;
}
.cub {
  width: 10px;
  height: 10px;
  background-color: #fc3535;
  display: inline-block;
  float: left;
  margin-right:4px;
}
#main .all_news a {
  display: block;
  padding-right: 34px;
  line-height: 20px;
}
#main .all_news i {
  font-size: 16px;
  padding-left: 10px;
}
.all_news h6 a{
  line-height: 10px;
  color: #2d2c2a;
  font-size: 12px;
  font-weight: bold;
}
.news_block {
  border: 1px solid #f8f4ef;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
#main .img_article {
  margin-bottom: 20px;
}
h3 a {
display: block;
font-size: 22px;
color: #fc3535;
}
.news_block a:hover {
  color: #333;
  text-decoration: none;
}
.news_block .news_text {
  height: 165px;
  overflow: hidden;
}
.news_data {
  font-size: 12px;
  color: #d0d1d0;
}
.news_more a {
  font-size: 12px;
  color: #d0d1d0;
}
.news_more a{
  display: inline-block;
  width: 140px;
}
.news_more i {
  font-size: 16px;
  padding-left: 10px;
}
#main .last_news .bottom_news {
  text-align: right;
}
#main .last_news .news_text {
  height: 184px;
}
#main .img_article {
  border: 1px solid #f8f4ef;
  border-radius: 10px;
  padding: 15px;

}
.no_padding {
  padding:0;
}
.non_left_padding {
  padding-left: 0;
}
/*------------------------------------and news block style-------------------*/
.news_inner {
  margin-top: 30px;
}
.inner_news_image { 
  border-radius: 15px;
  width: 100%;
}
.news_date {
  position: absolute;
  bottom: 20px;
  left: 35px;
  background-color:red;
  padding: 8px 10px;
  border-radius: 5px;
}
.news_content {
  position: relative;
}
.news_inner h3 {
  font-size: 18px;
  padding: 30px 0;
  color: #ff4d4d;
}
.inner_news_text {
  font-size: 12px;
  margin-bottom: 40px;
}
.news_inner .btn-danger {
  width: 100%;
  padding: 22px 0;
  font-size: 17px;
  letter-spacing: 3px;
  background-color: #ff0000;
}
.news_inner .btn-danger:hover {
  color: #333;
}
/*------------------start slider style------------*/
.owl-nav {
    background-color: white;
    position: absolute;
    top: -45px;
    right: 0;
}
.owl-nav span {
  color: #333;
  font-size: 30px;
  padding: 0 10px;
}
:focus {
  outline: none !important;
}
.owl-nav span:hover {
  color: #ff0000;
}
.news_inner h6 {
  line-height: 15px !important;
}
/*-----------------end slider style--------------*/
/*-------------------------------and news_inner page style-------------------*/
/*start about page style*/
.inner_page_header {
background-color: red;
padding: 0;
}
#about_page {
  padding:0;
}
#about_page .about_center_content {
  background-color: #fff;
  padding-top: 80px;
}
#about_page .about_center_content .about_image img {
  width: 100%;
}
#about_page .about_center_content p{
  font-size: 14px;
}
#about_page .about_center_content h6 {
  padding-bottom: 30px;
}
#about_page .about_bottom_content {
  background-color: #fafafa;
  padding-top: 70px;
  padding-bottom: 100px;
}
#about_page .about_bottom_content  p {
  font-size: 14px;
}
#about_page .about_bottom_content h6  {
  padding-bottom: 30px;
}
iframe {
  width: 100%;
  margin: 20px 0;
  height: 400px;
}
/*end about page style*/
/*start news page style*/
#news {
  padding:0;
}
.pagination {
  border: 1px solid #edeef2;
  margin: 60px 0;
}
.navigation {
  margin: 0 auto;
}
.page-item:first-child .page-link {
    border-right: 2px solid #edeef2; !important;
}
.page-item:last-child .page-link {
    border-left: 2px solid #edeef2; !important;
}
.pagination li:first-child a{
  padding: 8px 20px;
}
.pagination li:last-child a{
  padding: 8px 20px;
}
.pagination a {
  font-weight: bold;
  color: #181818;
}
.pagination a:hover {
  background-color: #ff3333;
  color: #fff;
}
.pagination i {
  font-size: 19px;
}
.page-link {
  border: none; !important;
}

/*end news page style*/
/*start contributors page*/
.contributors {
  padding: 60px 0;
}
.contributors h2 {
  font-size: 18px;
}
.contr_text {
  color: #fff;
  font-size: 12px;
}
.donators {
  width: 100%;
}
.contr_img {
  padding: 25px 0;
}
.contr_img img {
  margin-bottom: 10px; 
  width: 100%;
}
.contr_img img:hover {
  transform: scale(1.1);
}
.contr_img a {
  color: #333;
}
.contr_img a:hover {
  color: #c52c2c;
  text-decoration: none;
}
.contributors_more a {
  color: #fff;
  font-size: 12px;
  padding: 10px 40px;
  background-color: #ff3333;
  /*display: inline-block;*/

  border-radius: 10px;
  text-decoration: none;
}
.contributors_more a:hover {
  background-color: #9c1d1d;
}
.company {
  background-color: #ecf0f1;
}
.contr_text {
  padding-top: 110px;
}
.company_img {
  padding: 25px 0;

}
.company_img img {
  margin-bottom: 10px; 
  border-radius: 15px;
}
.company_img img:hover {
  transition: all 0.5s ease-in;
  filter: brightness(0.8);
}
.company_img a {
  color: #333;
}
.company_img a:hover {
  color: #c52c2c;
  text-decoration: none;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.80);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 70px;
  background: #fff;
  border-radius: 5px;
  width: 58%;
  position: relative;
  transition: all 5s ease-in-out;
  z-index: 1000;
}

.popup h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #c52c2c;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #c52c2c;
}
.popup .popup_content {
  max-height: 30%;
  overflow: auto;
}
/*start gallery style*/
.gallery_images img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.gallery_block {
  position: relative;
}
.gallery_links a {
  font-size: 18px;
  padding: 12px;
  display: inline-block;
  letter-spacing: 2px;
  border-radius: 10px;
  background-color: #ecf0f1;
  color: #cbd0d4;
  border: 1px solid #cbd0d4;
  margin: 0 10px;
}
.gallery_links  {
  padding: 45px 0;
}
/*.gallery_links a  {
  margin: 0 20px;
}*/
.gallery_links a:hover {
  background-color: red;
  color: #fff;
  text-decoration: none;
}
.center {
  text-align: center;
}
.gallery_links .active {
  background-color: red;
  color: #fff;
}
.gallery_title a {
  font-size: 12px;
  color: #fff;
  display: block;
}
.gallery_title a:hover {
  color: #ff0000;
  text-decoration: none;
}
.gallery_title {
    position: absolute;
    z-index: 1000;
    width: 90%;
    padding: 8px 20px;
    top: 30%;
    background-color: #33333359;
}
.img_num {
  position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    color: #fff;
    font-weight: bold;
    background-image: url(../images/folder_icon.png);
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left center;
}
/*end gallery style*/
/*end contributors page*/
footer {
  background-color: #181818;
  padding: 23px 0;
}
footer a, span {
  color: #fff
}
footer span {
  padding-right: 10px;
}
footer .fb a:hover {
  text-decoration: none;
  color: #29487d
}
footer .in a:hover {
  text-decoration: none;
  color: #ee372f;
}
footer .tw a:hover {
  text-decoration: none;
  color: #1da1f2;
}
footer .mail_block {
  text-align: right;
}







@media screen and (max-width: 575.98px) {
  #main_banner .main_banner_text h1 {
    font-size: 17px;
  } 
  #main_banner .main_banner_text {
    margin: 2% auto;
  }
  .right {
    padding: 10px;
  }
  #main_banner .main_banner_text .text_right h2 {
    font-size: 17px;
  }
  footer .mail_block {
  text-align: center;
}
footer .soc_icon {
  text-align: center;
}
.contr_text {
  padding-top: 0px;
  }
  #main_banner {
    padding-top: 70px;
  }
  .main_banner_text {
    padding-top: 90px;
  }
  .popup {
    padding: 60px 20px;
  }
}

@media screen and (max-width: 767.98px) {
  #main .last_news .news_text {
    height: 141px;
  }
  h3 a {
    padding-top: 20px;
}

}



@media screen and (max-width: 991.98px) {
  .toggle {
  	display: block;
  	text-align: right;
  	color:#fff;
  }
  .toggle i {
  	font-size: 30px;
  	cursor: pointer;
  }
  .menu_list {
  	display: none;
  	position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    background-color: rgb(8, 7, 7, 0.85);
    color: #fff;
    z-index: 1000;
  }
  .active {
  	display: block;
  }
  .menu_list li {
  	display: block;
  	text-align: center;
  }
  .menu_list li a{
    color:#fff;
    font-size: 20px;
  }
  .search-box {
  display: none;
}
.lang_href {
    line-height: 59px;
    font-size: 30px;
  }
  .search-btn {
    position: absolute;
    top: -5px;
    right: 10px;
    float: right;
    width: 29px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff3333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_block .news_text {
    height: 74px;
}
.mail_block span {
  display: block;
}
.contr_text {
  padding-top: 80px;
  }
 

}
@media screen and (max-width: 1199.8px) {
  .menu_list li {
    padding: 0 5px;
  }
  .news_block .news_text {
    height: 123px;
}
   h1 {
    padding: 110px 0 40px;
    font-size: 20px;
  }
   .inner_center_content {
    padding-top: 40px;
  }
 .contr_text {
  padding-top: 90px;
  }
   .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
  .gallery_links a {
    font-size: 13px;
  }
}
@media screen and (min-width: 576px) {
  .gallery_title {
    width: 91%;
  }
}
@media screen and (min-width: 992px) {
 .gallery_title {
    width: 94%;
  }
}
@media screen and (min-width: 1200px) {
 .gallery_title {
    width: 90%;
  }
}















